<app-myeditor></app-myeditor>
<!-- <app-pdftron></app-pdftron> -->
<!-- <app-open-ppt></app-open-ppt> -->
<!-- <app-test-ppt-iframe></app-test-ppt-iframe> -->
<!-- <app-ppt2html></app-ppt2html> -->
<!-- <input [style.background]="color1" [(colorPicker)]="color1" (colorPickerOpen)="onEventLog('colorPickerOpen', $event)" (colorPickerClose)="onEventLog('colorPickerClose', $event)" (cpInputChange)="onEventLog('cpInputChange', $event)" (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"/>   -->
<!-- <app-pptx2html-test></app-pptx2html-test> -->
<!-- <app-pptxjs></app-pptxjs> -->